$blue: #6395B8;
$orange: #FDA214;
$dark-blue: #304859;

$blue-gray: #BCCED9;
$blue-gray-2: #7191A5;
$ligth-gray: #F2F2F2;

$black: #152938;
$white: #FCFCFC;

$hovered-blue: #6395B8;
$hovered-orange: #FFB84A
;
